@charset "utf-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  min-height: 100dvh;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p,
h1,
h2,
h3,
h4 {
  overflow-wrap: break-word;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

a,
i,
figure,
img,
button,
input[type="button"],
input[type="submit"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
  border-style: none;
  outline-style: none;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* .container {
  max-width: 1280px;
  width: min(100% - 25px, 1080px);
  margin-inline: auto;
  box-sizing: border-box;
} */

/* ! ------------------------------------------------------------------------ */
/* !                                 CONTENT                                  */
/* ! ------------------------------------------------------------------------ */

/* ! ------------------------------------------------------------------------ */
/* ! Body
/* ! ------------------------------------------------------------------------ */

body {
  background-color: #fff;
  color: #000;
}

section {
  padding: 8rem 0;
  height: 100dvh;
}

/* ! ------------------------------------------------------------------------ */
/* ! Header
/* ! ------------------------------------------------------------------------ */

header {
  padding: 4rem 10rem;
  position: relative;
}

.logo {
  border-radius: 50%;
  width: 6rem;
}

.logo-and-title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo-and-title h1 {
  font-size: 2rem;
  font-weight: 400;
}

.nav-bar {
  background-color: #ffc0cb;
  border-radius: 4rem;
  padding: 2rem 4rem;
  display: flex;
  gap: 5rem;
  justify-content: center;
  width: fit-content;
  position: absolute;
  top: 25%;
  left: 50%;
}

.nav-bar a {
  /* display: inline-block; */
  font-size: 2rem;
  transition: 0.2s all ease-in-out;
}

.nav-bar a:hover {
  color: #fff;
}

/* ! ------------------------------------------------------------------------ */
/* ! Section Hero Banner
/* ! ------------------------------------------------------------------------ */

.hero-banner {
  background-image: url(../img/dog.png);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 20%;
  padding-left: 10rem;
}

.hero-banner-content {
  /* outline: auto; */
  display: flex;
  align-items: center;
}

.hero-banner-content h1 {
  font-size: 7rem;
  line-height: 1.2;
  font-weight: 500;
}

.hero-banner-content p {
  font-size: 2rem;
  line-height: 0.5;
}

.call-to-action {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  width: 60rem;
}

.dog {
  /* outline: auto; */
  width: 50rem;
}

.reviews {
  background-color: #c0ebff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: fit-content;
  padding: 3rem 3rem 3rem 5rem;
  border-radius: 1rem;
}

.reviews-images {
  display: flex;
}

.reviews-images img {
  width: 6rem;
  border-radius: 50%;
  margin-left: -2rem;
}

.reviews-text {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: -2rem;
}

.more-than-100 {
  font-size: 4rem;
}

.btn {
  text-align: center;
  display: inline-block;
  padding: 8rem 0;
  padding: 1.5rem;
  background-color: #c0cbff;
  border-radius: 5rem;
  transition: 0.2s all ease-in-out;
}

.btn:hover {
  color: #fff;
}

/* Add space between content */
/* .content > * + * {
  margin-top: 4rem;
} */
